table
    thead
        tr
            td(colspan=4) 
                h5 Percentage by OS
        tr
            th Date Update
            th ios
            th android
            th others
    tbody
        each item in apptypes
            tr
                td=item.date_update
                td=item.ios
                td=item.android
                td=item.others