.card.card-info
    .card-header.bg-default Percentage by OS
    .card-body
        table.table
            thead
                tr
                    th Date Update
                    th ios
                    th android
                    th others
            tbody
                each item in apptypes
                    tr
                        td=item.date_update
                        td=item.ios
                        td=item.android
                        td=item.others