table
    thead
        tr
            td(colspan=4) 
                h5 Percentage per gender
        tr
            th Date Update
            th unknown
            th male
            th female
    tbody
        each item in genders
            tr
                td=item.date_update
                td=item.unknown+'%'
                td=item.male+'%'
                td=item.female+'%'