if active_menu == 1
    span Dashboard 
else
    a(href="/") Dashboard 
span | 
if active_menu == 2
    span Chart 
else
    a(href="/chart") Chart 
span | 
if active_menu == 3
    span Account groups 
else
    a(href="/channel") Account groups 