.chart
    canvas(id="myChartGender", width="400", height="400")
    script.
        var myChart = new Chart('myChartGender', {
            type: 'pie',
            data: {
                datasets: [{
                    data: !{dataGender.data},
                    backgroundColor: !{dataGender.bgcolor},
                    label: 'Dataset 1'
                }],
                labels: !{dataGender.labels}
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Percentage by gender',
                    position: "bottom",
                    padding: 5
                },
                legend: {
                    display: true,
                    position: 'bottom',
                    labels: {
                        boxWidth: 10,
                        fontSize: 10,
                        padding: 5
                    }
                }
            }
        });