extends ../layout

block style
  link(href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js")
  script(src="javascripts/utils.js")
  -var active_menu = 'chart'

block main_title
  p LINE統計チャート

block content
  .box-action
      div
        p 日付
        input.date-range(name="dates")
      div
        button.btn PDFダウンロード
  .box-view
    .bv-left
      .row1
        span LINE統計チャート#1
        select
          option グループ　１
          option グループ　2
      .row2 aaaa
    .bv-right
      .row1
        span LINE統計チャート#2