extends layout

block style
  link(href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js")
  script(src="javascripts/utils.js")
block content
  h1 
    -var active_menu = 2
    include partials/top_menu.pug
  .row
    .col-3
        include chart/age.pug
    .col-3
        include chart/app_type.pug
    .col-3
        include chart/gender.pug
    .col-3
        include chart/subscription.pug
  br
  .row
    .col-5
        include chart/area.pug 
    .col-5
        include chart/mess_statistic.pug 