extends layout

block content
  h1= title
  button(type="button" onclick="getFriendDemographics()" class="btn btn-primary") getFriendDemographics
  br
  br
  button(type="button" onclick="getStatistics()" class="btn btn-primary") getNumberOfMessageDeliveries
  input(value="20200729" name="date" id="start")
  br
  br
  button(type="button" onclick="sendBroadcast()" class="btn btn-primary") sendBroadcast
  input(value="" name="" id="msg")
  br
  br
  a(href=auth class="btn btn-primary") Line Login
  script.
        getFriendDemographics = ()=>{
            fetch('/getFriendDemographics',{
                method: 'POST',
                mode: 'same-origin',
                credentials: 'same-origin',
                headers:{
                    'Content-Type': 'application/json'
                },
                redirect: 'manual',
                referrerPolicy: 'origin',
            })
            .then(r=>r.json()).then(console.log)
        }
        getStatistics = ()=>{
        	let tmpDate = document.querySelector('#start').value

            fetch(`/getStatistics/${tmpDate}`,{
                method: 'GET',
                mode: 'same-origin',
                credentials: 'same-origin',
                headers:{
                    'Content-Type': 'application/json'
                },
                redirect: 'manual',
                referrerPolicy: 'origin'
            })
            .then(r=>r.json()).then(console.log)
        }
        sendBroadcast = ()=>{
        	let msg = document.querySelector('#msg').value

            fetch(`/sendBroadcast`,{
                method: 'POST',
                mode: 'same-origin',
                credentials: 'same-origin',
                headers:{
                    'Content-Type': 'application/json'
                },
                redirect: 'manual',
                referrerPolicy: 'origin',
                body: JSON.stringify({message: msg})
            })
            .then(r=>r.json()).then(console.log)
        }

