extends layout

block content
  h1 Dashboard
  a.btn.btn-primary(href=site_url+"/linedata/downcsv") Export statistical data to csv

  include includes/ages.pug
  include includes/apptypes.pug
  include includes/genders.pug
  include includes/subscriptions.pug
  include includes/areas.pug
