doctype html
html
  head
    title Line App
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/css/vex.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/css/vex-theme-default.min.css")
    link(rel="stylesheet", href="stylesheets/style.css")

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/vex-js/4.1.0/js/vex.combined.min.js")
    script.
      vex.defaultOptions.className = 'vex-theme-default'
    block style
    include helpers/func.pug
  body
    .wrapper
      .sidebar
        include partials/sidebar.pug
      .main
        .main-title
          block main_title
        .main-content
          block content