form(action="/channel/account/add", method="POST")
    .form-row
        .form-group.col-2
            label(for="name") Account name 
                span.red *
            input.form-control.form-control-sm#name(type="text", name="name")
        .form-group.col-2
            label(for="line_account") Line Account 
                span.red *
            input.form-control.form-control-sm#line_account(type="text", name="line_account")
        .form-group.col-2
            label(for="account_id") Account id 
                span.red *
            input.form-control.form-control-sm#account_id(type="text", name="account_id") 
    .form-row
        .form-group.col-6
            label(for="access_token") Channel access token 
                span.red *
            textarea.form-control#access_token(name="access_token", cols="30", rows="3")
        .form-group.col-3
            label(for="secret") Channel secret 
                span.red *
            input.form-control.form-control-sm#secret(type="text", name="secret")
            .a-right
                button.btn.btn-primary.btn-sm(type="submit", style="margin-top:23px") Create new
            