div
    h4 Groups (#{groupList.length})
    table.table.tb-statistic
        thead
            tr
                th Group name
                th Account
                th Create at
                th.a-center(style="width:170px")
            each item in groupList
                tr
                    td
                        a(href="/channel/group/detail/"+item.id)
                            b=item.name
                    td
                        span=item.account_number
                    td
                        span #{formatDate(item.created_at)}
                    td.a-center
                        a.remove-link(href="/channel/group/delete/"+item.id, onclick="return confirm('Are you sure you want to destroy this item?')") remove
                        span  | 
                        a.export-link(href="/channel/group/export") export