extends ../layout

block style
  -var active_menu = 'channel'

block main_title
  h3 LINEアカウントグループ

block content
  a(href="/channel")
    button.btn.btn-info.btn-sm back
  if accounts
    .mt-10
      h4 グループ (#{group.name})
      table.tb-statistic
        thead
          tr
            th Global #
            th Account name
            th Account ID
            //- th
        each account, i in accounts
          tr
            td=i+1
            td=account.name
            td=account.account_id
            //- td
            //-   a.remove-link(href="/channel/group/delete/account/"+account.id, onclick="return confirm('Are you sure you want to remove this item?')") remove