extends ../layout

block style
  -var active_menu = 'channel'

block main_title
  h3 Dashboard

block content
  .row
    .col-12
      a(href="/channel")
        button.btn.btn-info.btn-sm back
      if accounts
        div
          h4 Accounts (#{group.name})
          table.table
            tr
              th Account name
              th Create at
            each item in accounts
              tr
                td
                  b=item.name
                td
                  span #{formatDate(item.created_at)}