extends ../layout

block style
  -var active_menu = 'channel'

block main_title
  h3 LINEアカウントグループ

block content
  ul.nav.nav-tabs
    li.nav-item
      a.nav-link.active(data-toggle="tab", href="#tab1") Accounts
    //- if is page create account
    if !account
      li
        a.nav-link(data-toggle="tab", href="#tab2") Groups
  .tab-content
    .tab-pane.fade.show.active#tab1
      //- if is page update account
      if account
        include form_update_account.pug
      else
        include form_add_account.pug
        if accountList
          include account_list.pug
    .tab-pane.fade#tab2
      if groupList
        include group_list.pug
      else
        p Group not found