extends ../layout

block style
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ja.min.js")
  -var active_menu = 'channel'

block main_title
  h3 LINEアカウントグループ

block content
  include ../helpers/func.pug
  ul.nav.nav-tabs
    li.nav-item
      a.nav-link.active(data-toggle="tab", href="#tab1") Accounts
    //- if is page create account
    if !account
      li
        a.nav-link(data-toggle="tab", href="#tab2") Groups
  .tab-content
    .tab-pane.fade.show.active#tab1
      //- if is page update account
      if account
        include form_update_account.pug
      else
        include form_add_account.pug
        if accountList
          include account_list.pug
    .tab-pane.fade#tab2
      if groupList
        include group_list.pug
      else
        p Group not found