extends ../layout

block style
  -var active_menu = 'channel'

block main_title
  h3 Dashboard

block content
  ul.nav.nav-tabs
    li.nav-item
      a.nav-link.active(data-toggle="tab", href="#tab1") Accounts
    li
      a.nav-link(data-toggle="tab", href="#tab2") Groups
  .tab-content
    .tab-pane.fade.show.active#tab1
      include account_list.pug
    .tab-pane.fade#tab2
      include group_list.pug