@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
html,
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    margin: 0;
}

.w30 {
    width: 30%;
}

.w50 {
    width: 50%;
}

select {
    padding: 5px;
    outline: none;
}

.a-right {
    text-align: right;
}

.a-center {
    text-align: center;
}

a,
a:hover,
a:focus {
    color: inherit;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.sidebar {
    background: #43425D;
    color: #fff;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
}

.sidebar-header {
    background: #3B3B53;
}

.sidebar-header h3 {
    line-height: 60px;
    margin: 0px 20px;
    height: 60px;
    font-size: 20px;
}

.sidebar ul.menu1 {
    margin: 10px 0px;
}

.sidebar ul.menu2 {
    margin-top: 100px;
}

.sidebar ul {
    padding: 0;
}

.sidebar ul li {
    list-style: none;
}

.sidebar ul li a {
    padding: 10px;
    font-size: 15px;
    display: block;
    color: #cecece;
    text-decoration: none;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    color: #fff;
    background: #3B3B53;
}

.sidebar ul span {
    color: #fff;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

.main {
    width: 100%;
}

.main-title h3 {
    margin: 20px;
}

.main-content {
    margin: 20px;
}

.remove-link {
    color: red;
    text-decoration: underline;
}

.export-link {
    color: rgb(46, 3, 236);
    text-decoration: underline;
}

.box-view {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.box-view .bv-right,
.box-view .bv-left {
    width: 50%;
    padding-top: 20px;
}

.box-view .bv-left .row1 {
    margin: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.box-view .bv-left .row2 {
    margin: 20px;
}

input.date-range {
    padding: 5px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #999999;
}

input.date-range::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f007";
    color: red;
    position: absolute;
    left: -5px;
}

.tb-statistic a {
    text-decoration: underline
}

.btn1 {
    background: #43425D
}

.btn1:hover {
    background: #666585
}

.tb-statistic thead th {
    background: #4F82BD;
    color: #fff;
}

.tb-statistic tfoot tr:nth-child(1) {
    background: #C5D9F1;
    font-weight: bold;
}

.tb-statistic tfoot tr:nth-child(2) {
    background: #DCE6F1;
    font-weight: bold;
}

.tb-statistic td,
.tb-statistic th {
    padding: 2px;
}

.date-range {
    width: 210px;
}