body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.center {
    text-align: center;
    width: 100%;
}

button,
input {
    margin: 10px;
    padding: 5px;
}

.btn {
    margin: 5px;
    font-size: 12px;
    padding: 3px 10px;
}

table {
    width: 100%;
}

th {
    height: 30px;
}

th,
td {
    border-bottom: 1px solid #ddd;
    padding: 3px;
}

th {
    background-color: #cecece;
}

h5 {
    margin-top: 10px;
}