.chart
    canvas(id="myChartAppType", width="400", height="400")
    script.
        var myChart = new Chart('myChartAppType', {
            type: 'pie',
            data: {
                datasets: [{
                    data: !{dataAppType.data},
                    backgroundColor: !{dataAppType.bgcolor},
                    label: 'Dataset 1'
                }],
                labels: !{dataAppType.labels}
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Percentage by OS'
                },
                legend: {
                    display: true,
                    position: 'bottom',
                    labels: {
                        boxWidth: 10,
                        fontSize: 10,
                        padding: 5
                    }
                }
            }
        });