.chart
    canvas(id="myChartSubscription", width="400", height="400")
    script.
        var myChart = new Chart('myChartSubscription', {
            type: 'pie',
            data: {
                datasets: [{
                    data: !{dataSubscription.data},
                    backgroundColor: !{dataSubscription.bgcolor},
                    label: 'Dataset 1'
                }],
                labels: !{dataSubscription.labels}
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Percentage by friendship duration'
                },
                legend: {
                    display: true,
                    position: 'bottom',
                    labels: {
                        boxWidth: 10,
                        fontSize: 10,
                        padding: 5
                    }
                }
            }
        });