extends ../layout

block style
  script(src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js")
  script(src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js")
  script(src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js")

  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css")
  -var active_menu = 'statistic'

block main_title
  h3 LINE友達統計

block content
  .d-flex.flex-row.justify-content-between
    .w50
      span 日付
      .d-flex.flex-row.justify-content-between
        .date-wrap
          input.form-control.date-range(name="dates")
        div
          select.form-control#js-select-group
            each item in groupAll
              option(value=item.id)=item.name
            option(value="0") 全体
    div
      form(method="POST", action="/statistic/export-pdf")
        input(name="id", type="hidden")
        input(name="start_date", type="hidden")
        input(name="end_date", type="hidden")
        button.btn.btn1(type="submit") PDFダウンロード
  br
  img.loading(src="images/loading.gif")
  div.table-statistic
  
  script.
    $('input[name="dates"]').daterangepicker({
      startDate: `#{formatDate(new Date(), 'YYYY/MM/DD', -30)}`,
       locale: {
        format: "YYYY/MM/DD"
       }
    });

    $('input[name="dates"]').on('apply.daterangepicker', function(ev, picker) {
      $('#js-select-group').trigger('change')
    });

    $('#js-select-group').change(function() {
      $('.loading').show()
      $('.table-statistic').empty()
      let id = $(this).val();
      var start_date = $('input[name="dates"]').data('daterangepicker').startDate._d;
      var end_date = $('input[name="dates"]').data('daterangepicker').endDate._d;

      // set data for request export pdf
      $('input[name=id]').val(id)
      $('input[name=start_date]').val(start_date)
      $('input[name=end_date]').val(end_date)

      $.ajax({
        type : 'POST',
        url : '/statistic/get-group-statistic',
        data: { id : id, start_date : start_date, end_date : end_date },
        success: function(res) {
          $('.table-statistic').html(res)
        },
        complete: function() {
          $('.loading').hide()
        }
      })
    })
    
    $('#js-select-group').trigger('change')

