extends ../layout

block style
  script(src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js")
  script(src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js")

  link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css")
  -var active_menu = 'statistic'

block main_title
  h3 LINE友達統計

block content
  .d-flex.flex-row.justify-content-between
    .w50
      span 日付
      .d-flex.flex-row.justify-content-between
        .date-wrap
          input.form-control.date-range(name="dates")
        div
          if groupAll
            select.form-control#js-select-group
              each item in groupAll
                option(value=item.id)=item.name
              option(value="0") 全体
    div
      form(method="POST", action="/statistic/export-pdf")
        input(name="id", type="hidden")
        input(name="start_date", type="hidden")
        input(name="end_date", type="hidden")
        button.btn.btn1(type="submit") 
          span PDFダウンロード
          
  br
  img.loading(src="images/loading.gif")
  div.table-statistic
  
  script.
    $('input[name="dates"]').daterangepicker({
      startDate: `#{formatDate(new Date(), 'YYYY/MM/DD', -30)}`,
       locale: {
        format: "YYYY/MM/DD",
        daysOfWeek: [
            "日",
            "月",
            "火",
            "水",
            "木",
            "金",
            "土"
        ],
        monthNames: [
            "1月",
            "2月",
            "3月",
            "4月",
            "5月",
            "6月",
            "7月",
            "8月",
            "9月",
            "10月",
            "11月",
            "12月"
        ],
       }
    });

    $('input[name="dates"]').on('apply.daterangepicker', function(ev, picker) {
      $('#js-select-group').trigger('change')
    });

    $('#js-select-group').change(function() {
      $('.loading').show()
      $('.table-statistic').empty()
      let id = $(this).val();
      var start_date = $('input[name="dates"]').data('daterangepicker').startDate._d;
      var end_date = $('input[name="dates"]').data('daterangepicker').endDate._d;

      // set data for request export pdf
      $('input[name=id]').val(id)
      $('input[name=start_date]').val(start_date)
      $('input[name=end_date]').val(end_date)

      $.ajax({
        type : 'POST',
        url : '/statistic/get-list-statistic',
        data: { id : id, start_date : start_date, end_date : end_date },
        success: function(res) {
          if(res.code == 200) {
            $('.table-statistic').html(res.data)
          } else {
            $('.table-statistic').html(`<span class="red">${res.data}</span>`)
          }
        },
        complete: function() {
          $('.loading').hide()
        }
      })
    })
    
    $('#js-select-group').trigger('change')

